.footer {
  @media screen and (max-width: 1199.98px) {
    text-align: center;
    align-items: center;
      }    
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-communication {
    @media screen and (max-width: 1199.98px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
    margin-top: 20px;
}

.footer-communication .item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
    }
}

footer {
    background-color: var(--title-grey-color);
}

.logo-end {
    color: var(--primary-white-color);
}

.footer-communication .link {
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1200px){&:hover,
                        &:focus {
                        color: var(--accent-color);}
        }}
.footer-address {
    color: var(--primary-white-color);
    @media screen and (max-width: 1199.98px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-parts {
    max-width: 100%;
    max-width: 450px;


    @media screen and (max-width: 767.98px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        justify-content: center;
        align-items: center;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 165px; ;
    }
    @media screen and (min-width: 1200px) {
    justify-content: flex-start;
        align-items: baseline;
        max-width: 1200px;
    }}

.footer-social {
      @media screen and (max-width: 1199.98px) {
        display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    margin-bottom: 60px;
  }

    
    @media screen and (min-width: 1200px) {
    margin-left: 70px;
    align-items: top;
    }

}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-icons-item:not(:first-child) {
    margin-left: 10px;
}

.icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);

    
        @media screen and (min-width: 1200px) {
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                background-color: var(--accent-color);
            }
            }
}

.footer-form {
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 1199.98px) {
        width: 100%;
        max-width: 450px;
        }
    @media screen and (max-width: 1199.98px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
    margin-left: 93px;
    width: 570px;
}


}

.footer-form-box {

    @media screen and (max-width: 1199.98px) {
        // display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        max-width: 450px;
    }
}

.footer-label {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.footer-input {
    display: block;

    width: 100%;
    max-width: 450px;

    @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 15px;
    transition: border-color 250ms var(--cubic);
    }
    height: 50px;
    padding: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;

    font-size: 16px;
    line-height: 1.25px;
    color: rgba(255, 255, 255, 0.6);
    outline: transparent;

    @media screen and (min-width: 1200px) {
                                &:hover,
                                &:focus {
                                border-color: var(--accent-color);}
    }

}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;

    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: box-shadow 250ms var(--cubic);
    @media screen and (min-width: 1200px) {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.footer-form-btn-text {
    margin-right: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.svg-footer-form {
    fill: var(--primary-white-color);
}