
.hero {
    padding: 118px 0 118px 0;
    @media screen and (min-width: 1200px) {
            padding: 200px 0 200px 0;
        }
    text-align: center;
    text-transform: uppercase;
    background-color: var(--title-grey-color);
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg/hero_m-min.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                            url(../images/bg/hero_m@2x-min.jpg)};
// Таблетка
        @media screen and (min-width: 768px) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/bg/hero_t-min.jpg);

        @media screen and (min-device-pixel-ratio: 2),
                          (-webkit-min-device-pixel-ratio: 2),
                          (min-resolution: 192dpi),
                          (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/bg/hero_t@2x-min.jpg) }};
// Десктоп
         @media screen and (min-width: 1200px) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/bg/hero_d-min.jpg);


        @media screen and (min-width: 1200px) and 
                                                (min-device-pixel-ratio: 2),
                                                (-webkit-min-device-pixel-ratio: 2),
                                                (min-resolution: 192dpi),
                                                (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/bg/hero_d@2x-min.jpg)}};
}

.hero__title {
    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 26px;
    line-height: 1.1;
    color: var(--primary-white-color);
        @media screen and (min-width: 1200px) {
            font-size: 44px;}
}

.hero__button {
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 24px 10px 24px;
        @media screen and (min-width: 1200px) {
        padding: 10px 32px 10px 32px;}

    font-weight: 700;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;
}
