.team__list {
    display: flex;
}

.team__list .team__item+.team__item {
    margin-left: 30px;
}

.team__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__description {
    padding: 30px 0 30px 0;
    text-align: center;
    background: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
}

.team__member {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

.team__position {
    color: var(--title-text-color);
    font-size: 16px;
}

.team {
    background-color: rgba(245, 244, 250, 1);
}

/* Иконки соцсетей команды */
.team__icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.team__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-primary-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {background-color: var(--accent-color);
        fill: var(--primary-white-color);}  
}

.team__icons-list .team__icons+.team__icons {
    margin-left: 10px;
}
