.work__list {
    display: flex;
}

.work__list .work__item+.work__item {
    margin-left: 30px;
}

.work {
    padding-top: 0;
}

.work__txt {
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;

    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
}

.work__list .work__item {
    position: relative;
}