body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: var(--primary-white-color);
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
button {
    font-family: inherit;
    cursor: pointer;
}
img {
    display: block;
}
.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

@media screen and (min-width: 480px) {
        max-width: 480px;
    }
@media screen and (min-width: 768px) {
    max-width: 768px;
}

@media screen and (min-width: 1200px) {
    max-width: 1200px;
}
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
} 

.section__title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
@media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px
    }
}